# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: %{CURRENT_YEAR} %{AUTHOR} <%{EMAIL}>
[Desktop Entry]
Name=FluxKap
Comment=Web feed aggregator
Comment[fr]=Aggregateur de flux issus du web
Version=1.0
Exec=fluxkap
Icon=org.kde.fluxkap
Type=Application
Terminal=false
Categories=Qt;KDE;Network;Feed
